body {
    font-family: monospace, sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #f7cdf4;
    /*display: grid;*/
    padding:20px;
}

.title {
    color: #000000;
    text-align: center;
}

.form-group {
    margin-top: 50px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #100c0c;
    border-radius: 4px;
    background-color: #f2c9ff;
    font-family: monospace, sans-serif;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;

}

button {
    font-family: monospace, sans-serif;
    background-color: #d721bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #ffbebe;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 4px;
}
.error {
    color: #dc3545;
    padding: 15px;
    background-color: #f8d7da;
    border-radius: 4px;
}

.example-functions {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    background-color: #f5a8f8;
    border-radius: 4px;
}


img{

    display: none;
    margin-top: 20px;
    max-width: 100%;
    place-content: center;
    height: auto;
    /*width: 700px;
    height: 500px;
    */

}

.nav-menu {
    background-color: #f5a8f8;
    padding: 20px;
    text-align: center;
}

.nav-index {
    background-color: #f5a8f8;
    padding: 1px;
    text-align:left;
    display:inline-block;

}

.nav-index a {
    display: inline-block;
    padding: 1px 20px;
    margin: 1px 1px;
    background-color: #d50cd5;
    color: white;
    text-decoration: none;
    border-radius: 1px;
    transition: background-color 0.3s;
}

.nav-menu h1 {
    color: #333;
    margin-bottom: 30px;
}

.nav-menu a {
    display: block;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #d50cd5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: #f622d3;
}

.description {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.table {
   border-collapse: collapse;
   width: 100%;
   background-color: #ff9ff7;
   
   
}

th{

    background-color:#c82eda
 
}

tr:hover {background-color: #bd60ec;}

td {
  border: 2px solid #ff72c1;
  text-align: center;
}
