<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Método de biseccion</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <!--<link rel="stylesheet" type="text/css" href="C:\Users\Usuario\eclipse-workspace\NumericMethodsTry2\src\main\resources\static\css">-->
    <script type="text/javascript" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

	<script th:src="@{/js/function.js}"></script>

</head>
<body>

    <h1>Método de la Secante</h1>
	<section class="nav-index">
	     <nav>
	         <a href="/">Volver</a>
	     </nav>
	 </section>

    <div class="example-functions">
        <h3>Ejemplos de funciones válidas:</h3>
        <ul>
            <li>x^2 - 4</li>
            <li>sin(x)</li>
            <li>x^3 - 2*x - 5</li>
			<li>PI^2-x</li>
		    <li>E^x-2</li>
        </ul>
        <h3>Seleccionar 2 puntos que se contengan en la solución</h3>
    </div>

     <form action="/secant" method="post">

        <label for="function">Función:</label>
        <input type="text" id="function" name="function" placeholder="Ejemplo: x^2-4" required><br><br>

        <label for="startPoint">Punto A:</label>
        <input type="number" step="any" id="startPoint" name="startPoint" required><br><br>

        <label for="endPoint">Punto B:</label>
        <input type="number" step="any" id="endPoint" name="endPoint" required><br><br>

        <button type="submit">Calcular</button>
    </form>

    <div th:if="${result != null}">
        <h2>Resultado:</h2>
        <p>La raíz calculada es: <span th:text="${result}"></span></p>
        <!-- se muestra la funcion ingresada -->
        <p>Función ingresada: <span th:utext="'$$' + ${function} + '$$'"></span> </p>
        <p>Entre:<span th:text="${startPoint}"></span> y <span th:text="${endPoint}"></span></p>

		<table class="table" th:if="${iterations != null and !iterations.empty}">
	    	<thead>
                <tr>
                    <th>Iteración</th>
                    <th>Xi-1</th>
                    <th>Xi</th>
					<th>Xi+1</th>
					<th>f(xi-1)</th>
					<th>f(xi)</th>
					<th>f(xi+1)</th>
                </tr>
	        </thead>
			<tbody>
                <tr th:each="iteration : ${iterations}">
                    <td th:text="${iteration.iteration}"></td>
                    <td th:text="${#numbers.formatDecimal(iteration.xi_1, 1, 15).replaceAll('0*$', '').replaceAll(',0*$', '')}"></td>
                    <td th:text="${#numbers.formatDecimal(iteration.xi, 1, 15).replaceAll('0*$', '').replaceAll(',0*$', '')}"></td>
					<td th:text="${#numbers.formatDecimal(iteration.xr, 1, 15).replaceAll('0*$', '').replaceAll(',0*$', '')}"></td>
					<td th:text="${#numbers.formatDecimal(iteration.fxi_1, 1,15).replaceAll('0*$', '').replaceAll(',0*$', '')}"></td>
					<td th:text="${#numbers.formatDecimal(iteration.fxi, 1,15).replaceAll('0*$', '').replaceAll(',0*$', '')}"></td>
					<td th:text="${#numbers.formatDecimal(iteration.fxr, 1,15).replaceAll('0*$', '').replaceAll(',0*$', '')}"></td>
                </tr>
            </tbody>
		</table>
		
        <script> 
            fetchRandomImage();
        </script>
		
    </div>

    <div th:if="${error != null}">
        <h2>Error:</h2>
        <p th:text="${error}"></p>
	</div>	

    <div>
        <h2>Mona china gratis:</h2>
        <img id="random-image" alt="Imagen aleatoria de Danbooru">
    </div>

    <script type="text/javascript">
        window.onload = function() {
            MathJax.typeset(); // Esto hace que MathJax procese las ecuaciones que hayan sido cargadas
        };
    </script>

</body>
</html>
